/*.movie의 CSS 가 안이쁜거같은데 어떻게고치는게 좋을까? */
.movie {
    background-color: white;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #6e027c;
    text-align: center;    
    background-color: #b79ccc;
}
.movie img {
    padding-top: 20px;
}

.movie__genres {
    list-style: none;
    padding: 0;
    margin: 0;    
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
    font-weight: bold;
    justify-content: flex-end;
}

.movie__genres li {
    margin-right: 10px;    
    font-size: 14px;
}

.title {
    width: 100%;
    text-align: center;    
    text-decoration: none;
}
.title a {
    margin-bottom: 5px;
    font-size: 24px;
    color: #6e027c;
    text-decoration: none;
}
  

.lists {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style-type: square;
}