* {
    box-sizing: border-box; /* 페이지 사이즈에 맞게 컨텐츠 박스 사이즈를 맞춘다.*/
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    background-color: #f2fcf9;
    height: 100%;
  }